<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body style="background-color: #EEEEEE;">
    <div class="card" style="width: 66%; margin: 2em auto;">
      <div class="card-body">
        <i
          class="fas <%= status === "RUNNING" ? "fa-question-circle" : (status === "SUCCESS" ? "fa-check-circle" : "fa-times-circle"); %>"
          style="color: #<%= status === "RUNNING" ? "111111" : (status === "SUCCESS" ? "3CB700" : "FF0015") %>;"
          >
        </i>
        <span>
          <%= status === "RUNNING" ? "Checking for dead links...." : (status === "SUCCESS" ? "No dead links detected!" : "Dead links detected:"); %>
          <ul>
            <%- status === "FAILURE" ? errorUrls.map((url) => `<li><a href="${url}">${url}</a></li>`).join("") : ""; %>
          </ul>
        </span>
      </div>
    </div>
  </body>
</html>
